# Semana 07 - 03
Ccencho Barazorda Omar Antonio

Temas:
  1.Numeros
  2.Variables
  3.Manejo de cadenas
  4.Ingreso de Datos por el Teclado
  5.Operadores

In [1]:
cadena = "Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [2]:
#Universidad Nacional Tecnologica de Lima Sur
#01234........
#

In [3]:
cadena[5]

'r'

In [4]:
#Tambien considera los espacios
cadena[11]

' '

In [5]:
#¿Que me mostrara?
cadena[-5]

'a'

In [6]:
cadena[21]

'T'

In [7]:
#Tambien lo puedo mostrar accediendo de manera inversa
cadena[-23]

'T'

In [8]:
#Para mostrar una subcadena [desde, hasta una nates]
cadena[3:8]

'versi'

In [9]:
#Paraobtener el tamaño de una cadena utilizamos len()
len(cadena)

44

In [10]:
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [11]:
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [12]:
#Para mostrar la cadena en minuscula
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [13]:
#Generar una lista a aprtir de una cadena split()
cadena.split()

['Universidad', 'Nacional', 'Tecnologica', 'de', 'Lima', 'Sur']

In [19]:
cadena.split("a")

['Universid', 'd N', 'cion', 'l Tecnologic', ' de Lim', ' Sur']

In [20]:
nombre = "Omar Ccencho"
edad = 10
print("hola {} ya se que tienes {} años".format(nombre, edad))

hola Omar Ccencho ya se que tienes 10 años

In [25]:
resultado = 10/3
print("10/3 es = {} ".format(resultado))
print("10/3 es = {r:1.3f} ".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [26]:
nombre = "Omar Ccencho"
edad = 8
print(f"buenod dias {nombre}, ya se que tienes {edad} años")

buenod dias Omar Ccencho, ya se que tienes 8 años

In [27]:
resultado = 10/3
print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado}")

10/3 es = 3.3333333333333335